@tailwind base;
@tailwind components;
@tailwind utilities;




/* Navbar helpers */
/* .nav-link {
  @apply text-white px-6 h-[70px] flex items-center
  text-base font-semibold
  transition-all duration-300
  hover:bg-[#244a7c];
}

.nav-link.active {
  @apply bg-[#244a7c];
}

.dropdown {
  @apply absolute top-full left-0 bg-white text-black
  rounded-md shadow-lg mt-2 min-w-[260px] z-50;
}

.dropdown-item {
  @apply w-full text-left px-4 py-2 text-sm hover:bg-gray-100;
}

.sub-dropdown {
  @apply absolute left-full top-0 bg-white
  rounded-md shadow-lg min-w-[220px];
}

.sub-link {
  @apply block px-4 py-2 text-sm hover:bg-gray-100;
} */
